/* Custom scrollbar styling for SimpleBar */
.simplebar-scrollbar::before {
    background-color: lightgray; /* Задаем цвет скроллбара */
  }
  
  .simplebar-track.simplebar-vertical {
    width: 8px; /* Задаем ширину вертикального скроллбара */
  }
  
  .simplebar-scrollbar {
    border-radius: 10px; /* Скругление краев скроллбара */
    width: 8px; /* Ширина самого скроллбара */
  }
  
  .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1; /* Скроллбар всегда видим */
  }
  
  .simplebar-track.simplebar-horizontal {
    height: 8px; /* Высота горизонтального скроллбара */
  }
  